@tailwind base;
@tailwind components;
@tailwind utilities;


*::selection{
  color: #1f1f1f
}

::-webkit-scrollbar {
    width: 4px; 
  }
  
  ::-webkit-scrollbar-track {
    background: white; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FAA432;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: green
  }

#sku1,#sku2,#sku3{
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
}
.CartBtn {
  width: 160px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #0C9C4E;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.cartText {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .cartText {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}


.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #FAA432;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

.coverImg{
  background-image: url('./assets/cover.png');
}
.footCover{
  background-image: url('./assets/footCover.png');
}

.detailCover{
  background-image: url('./assets/detailCover.png');
}

.bannerCover{
  background-image: url('./assets/banner.png');
}

.custom-slider .rc-slider-track {
  background-color: #1caa2b;
}

.custom-slider .rc-slider-handle {
  border:2px solid#1caa2b; 
  background-color:#1caa2b;
}

.custom-slider .rc-slider-handle:hover {
  border:4px solid #1caa2b; 
  background-color:whitesmoke;
  cursor: pointer;
}

.zoom {
  overflow: hidden;
  position: relative;
}

.zoomed-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  border: 1px solid rgba(255, 255, 255, 0.7); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
  transition: opacity 0.3s ease-in-out; 
}

.zoom:hover .zoomed-area {
  opacity: 1;
}

.zoom img {
  transition: transform 0.3s ease-in-out; 
}

.zoom:hover img {
  transform: scale(1.5); 
}

.glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 15px 10px rgba(0, 255, 0, 0.5);
  animation: glow-animation 1s infinite alternate;
}

@keyframes glow-animation {
  0% {
    box-shadow: 0 0 20px 10px rgba(0, 255, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 30px 20px rgba(0, 255, 0, 0.5);
  }
}






